<!DOCTYPE html>
<html>
  <head>
    <title>Capstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <style>
        @import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
      </style>
      <div class="col-3">
        <div class="circle">
    
        <br />

        <%= link_to 'Home', quiz_index_path %>

        <br />

        </div>
      </div>
      <div class="col-4 title">
        Which Schitt'$ Creek Character Are You?
      </div>
      <div class="col-5 links">
        <%= link_to 'Take the Quiz!', new_quiz_path %>
      </div>
    </header>

    <hr />

    <br class="clear" />


    <%= yield %>
  </body>
</html>
