<!DOCTYPE html>
<html>
  <head>
    <title>Capstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="col-4">
        Which Schitt'$ Creek Character Are You?
      </div>
      <div class="col-5">
        <%= link_to 'Take the Quiz', '#' %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
